h1{
    padding: 3px;
    text-decoration: underline;
    text-align: center;
    color: black;
}
h2{
    text-decoration: underline;
}
body{
    text-align: justify;
    font-size: medium;
    background-color:bisque;
}
div{
background-color: rgb(red, green, blue);
border-style: dashed;
border-color: darkkhaki;
border-radius: 10px;
}

p{
    font-style: normal;
    border-radius: 30px;
    border-top: 2px;
}
td{
    text-align: center;
}

.center{
    display: block;
    margin-right:auto;
    margin-left: auto;
    width: 25%;
}

